# Python
__pycache__/
*.pyc
*.pyo

# Entornos virtuales
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Modelos generados
models/*.pkl
models/huggingface/

# Datos generados
data/dataset_test.csv
data/dataset_preprocesado.csv
data/dataset_inferido_hf.csv

# SO
.DS_Store
Thumbs.db

